 .search-input {
  max-width: 240px;
  transition: all 0.6s ease-out;
  
}
 .search-input {
  width: 100%;
  border: none;
  height: 2.4rem;
  padding-right: 25px;
}
 .search-input:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.search-input-container {
  border-radius: 14px;
  height: 35px;
  background-color: var(--color-cinza-semitransparente-claro);
}

.container-search {
  transition: all 0.3s ease-out;
}

.lista-comandos-searchbar {
  visibility: hidden;
}

.lista-comandos-searchbar.visivel{
  visibility: visible;
}

.search-item:hover {
  background-color: var(--color-cinza-semitransparente-claro);
  cursor: pointer;
}